@model List<Survey>

@{
	ViewData["Title"] = "View Survey Results";

	var totalSurvey = TempData["TotalSurvey"];
	TempData.Keep("totalSurvey");
	var averageAge = TempData["AverageAge"];
	TempData.Keep("averageAge");
	var oldPerson = TempData["OldestPerson"];
	TempData.Keep("oldPerson");
	var youngPerson = TempData["YoungestPerson"];
	TempData.Keep("youngPerson");


	var lovePizza = TempData["LovePizza"];
	TempData.Keep("lovePizza");
	var lovePasta = TempData["LovePasta"];
	TempData.Keep("lovePasta");
	var lovePapWors = TempData["LovePapWors"];
	TempData.Keep("lovePapWors");


	var averageMovies = TempData["AverageMovies"];
	TempData.Keep("averageMovies");
	var averageRadio = TempData["AverageRadio"];
	TempData.Keep("averageRadio");
	var averageEatOut = TempData["AverageEatOut"];
	TempData.Keep("averageEatOut");
	var averageTV = TempData["AverageTV"];
	TempData.Keep("averageTV");
}

@if (Model is null || Model.Count <= 0)
{
	<div style="background-color: #cce6ff; color: red; font-weight: bold; padding-top: 15px; padding-left: 10px; padding-bottom: 8px; padding-right: 10px; width: 700px; text-align: center">
		<p>No Surveys Available</p>
	</div>
}
else
{
	<div class="">

		<div class="header">
			<h1>Survey Results</h1>
		</div>

		<div class="space-between">
			<div>
				<p>Total number of surveys :</p>
				<p>Average Age :</p>
				<p>Oldest person who participated in survey :</p>
				<p>Youngest person who participated in survey :</p>
			</div>
			<div>
				<p>@totalSurvey</p>
				<p>@averageAge</p>
				<p>@oldPerson</p>
				<p>@youngPerson</p>
			</div>
		</div>

		<div class="space-between">
			<div>
				<p>Percentage of people who like Pizza :</p>
				<p>Percentage of people who like Pasta :</p>
				<p>Percentage of people who like Pap and Wors :</p>
			</div>
			<div>
				<p>@lovePizza %</p>
				<p>@lovePasta %</p>
				<p>@lovePapWors %</p>
			</div>
		</div>

		<div class="space-between-last">
			<div>
				<p>People who like to watch movies :</p>
				<p>People who like to listen to radio :</p>
				<p>People who like to eat out :</p>
				<p>People who like to watch TV :</p>
			</div>
			<div>
				<p>@averageMovies</p>
				<p>@averageRadio</p>
				<p>@averageEatOut</p>
				<p>@averageTV</p>
			</div>
		</div>
	</div>
}


<style>

	/* SPACING */
	.space-between {
		display: flex;
		gap: 50%;
		margin-bottom: 50px;
	}

	.space-between-last {
		display: flex;
		gap: 56%;
		margin-bottom: 50px;
	}

	.header {
		text-align: center;
		margin-bottom: 60px;
	}
</style>
